[core]
#	excludesfile = ~/.gitignore_global
	editor = vim
[push]
	default = simple
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
	a = !git add . && git status
  aa = !git add . && git add -u . && git status
  ac = !git add . && git commit
	acm = !git add . && git commit -m
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	au = !git add -u . && git status
  b = branch
	c = commit
  ca = commit --amend # careful
	cm = commit -m
  d = diff --color-words
	dh = diff --color-words head
#	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --stat --abbrev-commit
  master = checkout master
	p = push
  preview = diff --stat --cached origin/master
  s = status
  stage = add
	u = pull
	unstage = reset
	uncommit = reset --soft HEAD^

[user]
	name = turnspike
	email = hello@turnspike.com
